        <section id="edit_section" class="form_section"> <!-- Section with the buttons for editing -->
            <h1>
                Editing Options
            </h1>
            <form name="edit_form" id="edit_form" class="edit_form"> <!-- Formular to edit incidents -->
                <input type="hidden" name="name_form" id="name_form" value="edit_form"/>
                <input type="hidden" name="table_selected" id="table_selected" value=""/>
                <input type="hidden" name="option" id="option" value=""/>

                <div>
                    <button type="button" id="delete" class="button" onclick="send_edit(this.form, 'delete')"> DELETE </button> <!-- button: Delete -->
                    <button type="button" id="update" class="button" onclick="send_edit(this.form, 'update')"> UPDATE </button> <!-- First button: Update -->
                    <input type="checkbox" class="checkbox" name="solved" value="solved"/> Solved
                    <input type="checkbox" class="checkbox" name="emergency" value="emergency"/> Emergency</br></br>
                    <label for="admin_id" class="admin_id">ID:</label>
                    <input type="text" name="admin_id" id="admin_id" value="" disabled/></br></br>

                    <label for="old_type_admin" class="type_label">Current Type of Incident:</label></br>
                    <input type="text" name="old_type_admin" id="old_type_admin" value="Select an Incident" disabled/><br>
                    
                    <label for="type_admin" class="type_label">New Type of Incident:</label></br>
                    <select name="type_admin" id="type_admin" required>
                    </select>
                </div>
                <div>
                    <label for="old_desc_admin" class="desc_label">Current Description:</label></br>
                    <textarea rows="4" cols="50" name="old_desc_admin" id="old_desc_admin" placeholder="Select an Incident." disabled></textarea></br>

                    <label for="desc_admin" class="desc_label">New Description:</label></br>
                    <textarea rows="4" cols="50" name="desc_admin" id="desc_admin" placeholder="Explain us the incident..."></textarea></br>
                </div>
            </form>
        </section>