        <footer>
            <h1>Contact Information</h1>
            <nav>
                <ul class="info">
                    <li><a href="#">Worldwide Geomatics</a></li>
                    <li><a href="#">e-mail: worldwidegeomatics@gmail.com</a></li>
                    <li><a href="http://worldwidegeomatics.wixsite.com/site">webpage</a></li>
                </ul>
                <ul class="figure">
                    <li>
                        <figure>
                            <img class="logo" src="http://localhost/desweb/worldwideGeomatics/img/logo_simple_color.png" alt="logoCompany">
                        </figure>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>"D:/GitHub/KarlsruheDamageReport/worldwide/wwfunctions.py"
</html>