<!DOCTYPE html>
<html>
    <head>
        <!-- Encoding -->
        <meta charset="UTF-8">
        <!-- Description of Web Page -->
        <meta name="description" content="Open Source GIS project">
        <!-- Keywords important for Google -->
        <meta name="keywords" content="html, css, karlsruhe, GIS, open source, open GIS, damage, report, citizen">
        <!-- Author information -->
        <meta name="author" content="Worldwide Geomatics">

        <!-- Title of the website on the tab -->
        <title>Karlsruhe Report</title>

        <!-- Icon of the website -->
        <link href="http://localhost/desweb/worldwideGeomatics/img/mini_logo.png" rel="shortcut icon" type="image/png">

        <!-- CSS Styling -->
        
        <!-- Openlayers -->
        <link rel="stylesheet" href="http://openlayers.org/en/v3.16.0/css/ol.css" type="text/css">
        <script src="http://openlayers.org/en/v3.16.0/build/ol.js" type="text/javascript"></script>
        
        <!-- JQuery JavaScript -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
        
        <!-- Own css -->
        <link rel="stylesheet" href="http://localhost/desweb/worldwideGeomatics/css/style.css" type="text/css">

        
                
        <!-- Own JavaScript -->
        <script src="http://localhost/desweb/worldwideGeomatics/js/map.js" type="text/javascript"></script>
        <script src="http://localhost/desweb/worldwideGeomatics/js/search.js" type="text/javascript"></script>
        <script src="http://localhost/desweb/worldwideGeomatics/js/app.js" type="text/javascript"></script>
        
        
    </head>