    <body>
        <header>
            <h1> <!-- Target for the first type of titles -->
                KARLSRUHE DAMAGE REPORT<!-- Title of the Web Page -->
            </h1>
            <nav id="menu"> <!-- Navigation Menu of the header -->
                <ul class="general"> <!-- ul: a list -->
                    <li id="home_li" class="active"><a id="home" class="hvr-fade" href="#">Home</a></li> <!-- li: each element of the list -->
                    <li id="create_li"><a id="create" class="hvr-fade" href="#">Create</a></li>
                    <li id="editing_li"><a id="editing" class="hvr-fade" href="#">Edit</a></li>
                    <ul id="submenu">
                        <li id="about_li" class="list"><a id="about" href="#">About</a>
                            <ul class="secondarylist">
                                <li><a id="web" class="hvr-fade" href="#" target="_blank">Web</a></li>
                                <li><a id="team" class="hvr-fade" href="http://worldwidegeomatics.wixsite.com/site/the-team" target="_blank">Team</a></li>
                            </ul>
                        </li>
                        <li id="logout_li" class="logout"><a id="logout" class="hvr-fade" href="#" onclick="send_logout()">Logout</a>
                        <li id="login_li" class="list"><a id="login" href="#">Login</a>
                            <ul class="secondarylist">
                                <li><a id="login" class="hvr-fade" href="#">Login</a></li>
                                <li><a id="register" class="hvr-fade" href="#">Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </nav>
        </header>