        <section id="search_section" class="form_section">
            <h1>User Manual:</h1></br>
            
            <p align="justify">Please find herein the user Manual of this website.</p><br>
            
            <p align="justify">The website first opens to its home page, where the incidents report map is displayed. This map shows the locatons of the incidents that have been reported by users of the website. It is not necessary to register on the website to view these incident notifications, but should you wish to add incidents you will need to register as a user.</p><br>
            
            <p align="justify">The home page of the website shows a map and a legend (which explains the data shown on the map). It also allows you to search the notifications in one of three ways.</p><br>
            
            <p align="justify" class="indented">1. <b>Search by Geometry: </b> This allows you to search by the type of geometry of the notification you are looking for. For example, if you are searching for a broken traffic light notificaton, the geometry type would be point, whereas an incident such as a road block would be a line. The geometry types are displayed in the legend.</p><br>
            <p align="justify" class="indented">2. <b>Search by Type of Incident: </b> This allows you to select the incident type of the event you are looking for.</p><br>
            <p align="justify" class="indented">3. <b>Search by ID: </b> This allows you to search via the ID of the event as it stored in the database.</p><br>
            
            <p align="justify">The website allows for three types of user privileges, which are listed below:</p><br>
            
            <p align="justify" class="indented">1. <b>Unregistered Users: </b> Can view listed incident notifications.</p><br>
            <p align="justify" class="indented">2. <b>Editors: </b> May create new notifications using a form.</p><br>
            <p align="justify" class="indented">3. <b>Administrators: </b> May add, edit and delete notifications. Can add “emergency” issues.</p><br>
            
            <p align="justify"> <b> How to register: </b> </p><br>
            <p align="justify" class="indented">1. In the top right hand coner of the screen, select the 'Login' tab of the website. Then click on 'Register'.</p><br>
            <p align="justify" class="indented">2. A form will become visible. Fill in the form according to the given instructions. Then select 'Register'. You will then be able to log in. </p><br>
            <p align="justify" class="indented">3. Should the 'Register' button result in an error, adjust your details accordingly.</p><br>
            
            <p align="justify">Now that you have registered, you can proceed to use the website further.</p><br>
            <p align="justify">Note that you must be logged in to continue. To log in, select the 'Login' button in the top right corner of the web page. Fill in your details and press the log in button. Now, navigate to either the home page, the create page or the edit page by selecting the tabs in the top left of the web page. Each page corresponds to its functionality. </p><br>
            
            <p align="justify"> <b> To create an event if you are a registered editor: </b> </p><br>
            <p align="justify" class="indented">1. In the top left hand coner of the screen, select the 'Create' tab of the website. You can now select the geometry type, notification type and fill in a description of the notification.An image can be added if desired. You will find that selecting a specific event type will lead to an automatic geometry selection.</p><br>
            <p align="justify" class="indented">2. Press the 'Create' button at the end of the form. </p><br>
            <p align="justify" class="indented">3. The new event has been created and is thus visible in the table of events, as well as in the home page.</p><br>
            
            <p align="justify"> <b> To edit an event if you are a registered administrator: </b> </p><br>
            <p align="justify" class="indented">1. In the top left hand coner of the screen, select the 'Edit' tab of the website. The data can be changed in the same way as an event is created. Notifications can also be deleted or marked as solved.</p><br>
            <p align="justify" class="indented">2. The updated event has been created and the changes are thus visible in the table of events, as well as in the home page..</p><br>
            
            
            <p align="justify" class="indented">Please also see the terms of use policy and the about tab for further information on the permissible use and background to this project. Further information about the compnay and its activites can be found at http://worldwidegeomatics.wixsite.com/site </p><br>
       </section>
