        <section id="table" class="table"> <!-- Section with the table -->
            <h1>
                Stored Data
            </h1>
            <table>
                <thead> 
                    <tr>
                        <th>ID</th>
                        <th>TYPE</th>
                        <th>X UTM</th>
                        <th>Y UTM</th>
                        <th>DESCRIPTION</th>
                        <th>IMAGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bank</td>
                        <td>123456.789</td>
                        <td>123456.789</td>
                        <td>Bank with shit</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Rubish</td>
                        <td>123456.789</td>
                        <td>123456.789</td>
                        <td>Rubish without shit</td>
                        <td>none</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Special</td>
                        <td>123456.789</td>
                        <td>123456.789</td>
                        <td>Broken bench</td>
                        <td>none</td>
                    </tr>
                </tbody>
            </table>
        </section>