<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Terms of Service</title>
         <!-- Icon of the website -->
        <link href="http://localhost/static/worldwideGeomatics/img/mini_logo.png" rel="shortcut icon" type="image/png">
        <link rel="stylesheet" href="http://localhost/static/worldwideGeomatics/css/style.css" type="text/css">
    </head>

	<body>
	    <section class="terms_section">
			<h1>Terms of Service:</h1></br>
			
			<p align="justify">The following terms and conditions govern all use of the KarlsruheDamageReport.com website (hereinafter	referred to as the Website) and all content and services available at or through the website. The Website is owned and operated by Worldwide Geomatics. The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies and procedures that may be published from time to time on this Site by Worldwide Geomatics (collectively, the "Use Agreement").</p><br>
			
			<p align="justify">Please read this Use Agreement carefully before accessing or using the Website. By accessing or using any part of the Website, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, you may not access the Website or use any services. The Website is available only to individuals who are at least 13 years old.</p><br>
			
			<p align="justify" class="indented">1. <b>Your KarlsruheDamageReport.com Account and Site.</b> If you create an account on the Website, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the. Worldwide Geomatics may change or remove any content or description that it considers inappropriate or unlawful, or otherwise likely to cause Worldwide Geomatics liability. You must immediately notify Worldwide Geomatics of any unauthorized uses of your account, your account or any other breaches of security. Worldwide Geomatics will not be liable for any acts or omissions by you.</p><br>
			 
			<p align="justify" class="indented">2. <b>Responsibility of Contributors.</b> If you operate an account or post material to the Website, you are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text or graphics. By making Content available, you represent and warrant that:</p><br>
			<ul class="indented2">
				<li align="justify">you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;</li>
	            <li align="justify">the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>
	            <li align="justify">the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>
	            <li align="justify">the Content is not pornographic, does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party;</li>
	            <li align="justify">the Content is not advertisement via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;</li>
			</ul><br>
			
			<p align="justify" class="indented">Without limiting any of those representations or warranties, Worldwide Geomatics has the right to (i) refuse or remove any content that, in Worldwide Geomatics reasonable opinion, violates any Worldwide Geomatics policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual for any reason, in Worldwide Geomatics sole discretion.</p><br>
	    </section>
	
	</body>
</html>